doctype
html
  head
    title= title
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body

include header

h2 Blog
.jumbotron
  img(src="images/16.jpg")
  h1 3 de octubre
  p MELIÁ HOTELS INTERNATIONAL, COMPAÑÍA HOTELERA MÁS SOSTENIBLE DEL MUNDO
  p De Gabriel Escarrer Jaume, Vicepresidente Ejecutivo y Consejero Delegado
  p: a.btn.btn-primary.btn-lg Learn more

.jumbotron
  img(src="images/TALENTO.png")
  h1 12 de agosto
  p MELIÁ HOTELS INTERNATIONAL Y EL “DESAFÍO DEL TALENTO”
  p De Gabriel Escarrer Jaume, Vicepresidente Ejecutivo y Consejero Delegado
  p: a.btn.btn-primary.btn-lg Learn more

include footer




