//- Bootswatch Theme
link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )

//- Navbar with dropdowns, default color
nav.navbar.navbar-default( role="navigation" )
    .navbar-header
        button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href="") Melia Hoteles

    #navbar-inverse.collapse.navbar-collapse
        ul.nav.navbar-nav
            li: a(href="/") Home
            li: a(href="/nuestraHistoria") Our History
            li: a(href="/sobreNosotros") About
            li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") Info 
                    span.caret
                ul.dropdown-menu(role="menu")
                    li: a(href="/servicios") Services
                    li: a(href="/blog") Blog  
                    li.divider
                    li: a(href="/enviar_mensaje") Contact 
            li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") Your photos 
                    span.caret
                ul.dropdown-menu(role="menu")
                    li: a(href="/subirfoto") Send
                    li: a(href="/verfotos") List
            // li: a(href="enviar_fotos") Send your photos 