doctype
html
  head
    title= title
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body

include header

h2 Acerca de Meliá Hotels International
p En 2011, la compañía familiar fundada por Gabriel Escarrer Juliá en el año 1956, y que durante décadas operó bajo la denominación “Sol Meliá” emprende una nueva andadura bajo la marca que representa su presente, y su futuro: Meliá Hotels International”.
br
p Meliá Hotels International es líder en hotelería, encabezando el ránking de las compañías españolas, y situándose entre las 20 primeras empresas hosteleras a nivel internacional. Líder durante décadas en hotelería vacacional, el equilibrio que el portfolio de la compañía presenta hoy entre hoteles urbanos y vacacionales le proporciona una mayor fortaleza competitiva frente a eventuales crisis en los diferentes segmentos de la demanda.
br
p La historia de Meliá Hotels International nos habla de una visión, una familia, y una pasión: la visión de su fundador, respaldada por una familia con sólidos valores que sustentan una empresa responsable, y la pasión por el servicio, y por ofrecer al cliente las mejores experiencias en hotelería. Entre 1956 y 1980, la compañía familiar se extendió de las costas Baleares a las Canarias, y a la península, y a partir de ese momento comenzó una historia de crecimiento sin parangón en el turismo español.
br
p Tras la compra de Hotasa en 1984, vinieron las adquisiciones de CHM (1986) y Meliá, en 1987, que representó el salto definitivo por la calidad y alto reconocimiento de esta marca y los 22 hoteles que poseía. Posteriormente, en el año 2000 se produjo la compra de TRYP Hoteles, y de la compañía alemana Innside, operaciones que se complementaron durante los años 90 y 2000’ con la creación de marcas propias como Paradisus Resorts, Meliá Hotels International Vacation Club, y ME by Meliá.
br
p En 1996 fue la primera hotelera española en salir a bolsa, un paso trascendental que representó, para la compañía familiar, un refuerzo en la exigencia de transparencia, control, y responsabilidad social. Desde entonces, su enfoque en el mantenimiento de una sólida situación financiera tiene su reflejo en la elevada fidelidad entre sus inversores institucionales, o en la positiva evolución de su cotización, que a comienzos de 2011 se situaba en niveles previos al inicio de la crisis.
br
p Esta evolución y el foco estratégico de la compañía en la expansión internacional ha permitido a Meliá Hotels International, con sus más de 350 hoteles en 35 países, posicionarse hoy como la primera hotelera española con presencia en mercados clave como China, el Medio Oriente o los Estados Unidos, además de mantener su liderazgo en los mercados tradicionales como Europa, Latinoamérica o el Caribe. Además, posée un portfolio de Marcas renovado y diferenciado, en el que pueden encontrarse productos para todos los segmentos y tipologías de clientes:
br
ul
  li Entre las marcas llamadas “Premium” o Lujo, encontramos los hoteles de Gran Meliá, Paradisus y ME by Meliá.
  li En el segmento superior o “upscale” se ubican nuestras marcas Meliá e Innside.
  li En el segmento midscale, los resorts de SOL Hoteles, y los urbanos TRYP by Wyndham.
br
p Gracias a estas marcas poderosas y diferenciadas, y al alto nivel de diversificación geográfica y de producto, Meliá Hotels International gestionó con solvencia la crisis internacional que sacudió a los mercados entre los años 2008 y 2010, y trabaja en un ambicioso proceso de cambio y renovación organizacional que incluye elementos de estructura, estrategia y Cultura y Valores corporativos.
br
p Nuestros 35.000 empleados provienen de casi 100 nacionalidades, y hablamos más de 25 idiomas con nuestros clientes; somos la primera compañía hotelera certificada como Compañía hotelera de la Biosfera, y la única incluída en el exclusivo índice “responsable” de la bolsa FTSE4Good Íbex. Nos hemos adherido al Global Compact de Naciones Unidas y mantenemos una alianza estratégica con UNICEF para la protección de la infancia y la prevención de la explotación sexual infantil.
br
p Bienvenido a Meliá Hotels international, donde “Todo es Posible”.
br


include footer