doctype
html
  head
    title= title
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body

include header

h2 Servicios

.row
  .col-md-4.col-sm-6.col-xs-12
    .panel.panel-primary
      .panel-heading The level
      .panel-body En Meliá hemos creado una gama de servicios exclusivos para ti: The Level. <br/><br/> Complementarás tu experiencia en nuestro hotel, recibiendo una atención personalizada durante tus vacaciones. <br/><br/> Podrás acceder a áreas de acceso exclusivo y compartir momentos únicos y singulares mientras tomas un aperitivo. <br/><br/> (Acceso exclusivo para mayores de 16 años). <br/><br/> The Level llega hasta tu habitación con atenciones que sólo tú podrás disfrutar. <br/><br/> No dejes escapar la ocasión de hacer que tu estancia en Meliá Costa del Sol sea especial. <br/><br/> (*) El servicio The Level y el The Level Lounge permanecerán cerrados durante el siguiente periodo: Del 05.01.2021 al 12.03.2021 (ambos inclusive)
  .col-md-4.col-sm-6.col-xs-12
    .panel.panel-primary
      .panel-heading Servicios
      .panel-body Servicio de recepción 24 horas. <br/><br/> Servicio de habitaciones 24 horas. <br/><br/> Conexión gratuita a internet WiFi de alta velocidad en las zonas comunes del Hotel y en las habitaciones. <br/><br/> Servicios médicos (bajo petición) (*) <br/><br/> Servicio de planchado y lavandería (*) <br/><br/> Teléfono público con línea exterior (*) <br/><br/> (*) Con cargo.
  .col-md-4.col-sm-6.col-xs-12
    .panel.panel-primary
      .panel-heading Instalaciones
      .panel-body Hotel adaptado a discapacitados. <br/><br/> Completo gimnasio. <br/><br/> Sauna. <br/><br/> Terraza solárium con hidromasaje. <br/><br/> Amplias áreas gastronómicas: Buffet de desayuno, Restaurante Plaza y Lobby Bar.
include footer