doctype
html
  head
    title= title
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body

include header

h2 Sobre Nosotros
p Es considerada la empresa hotelera más grande de España y América Latina, así como la más grande en Europa y la décima del mundo. Nombrada una de las compañías hoteleras más prestigiosas del mundo en gestión hotelera, es también la mayor compañía del mundo en resorts.
br

include footer