
 <!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css' />
  </head>
  <body>
        <br/><br/>
        <h2> FOMULARIO para fotos </h2>
        <form method="post" action"/subirfoto" enctype="multipart/form-data">
        Seleccione una foto:
        <input type="file" name="foto">
        <br>
        Seleccione una foto:
        <input type="file" name="foto">
        <br>
        <input type="submit" value="subir">
        </form>
        <br><br>
        <a href="/">Retornar</a>
  </body>
</html>